<div class="row mx-3">
    <h2>Inventory</h2>
    <hr />
  </div>
  
  <form (submit)="onSubmit()">
    <div class="row mx-5">
      <div class="col">
        <label for="productId">Product Id</label>
        <input
          type="text"
          class="form-control"
          placeholder="Product Id"
          [(ngModel)]="inventoryData.productId"
          name="productId"
        />
      </div>
      <div class="col">
        <label for="productName">Product Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Product Name"
          [(ngModel)]="inventoryData.productName"
          name="productName"
        />
      </div>
      <div class="col">
        <label for="stockAvailble">Stock Available</label>
        <input
          type="number"
          class="form-control"
          placeholder="Stock Available"
          [(ngModel)]="inventoryData.stockAvailble"
          name="stockAvailble"
        />
      </div>
      <div class="col">
        <label for="reorderStock">Reorder Stock</label>
        <input
          type="number"
          class="form-control"
          placeholder="Reorder Stock"
          [(ngModel)]="inventoryData.reorderStock"
          name="reorderStock"
        />
      </div>
    </div>
  
    <div class="row mx-5 mt-3">
      <div class="col-lg-3">
        <button type="submit" class="btn btn-primary">
          {{ inventoryData.id ? 'Update' : 'Submit' }}
        </button>
        <button type="button" class="btn btn-secondary ms-2" (click)="resetForm()">Reset</button>
      </div>
    </div>
  </form>
  
  <div class="mt-5 mx-3">
    <h3>Inventory Details</h3>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover mx-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Stock Available</th>
            <th scope="col">Reorder Stock</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inventories; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.productName }}</td>
            <td>{{ item.stockAvailble }}</td>
            <td>{{ item.reorderStock }}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="editInventory(item)">Edit</button>
              &nbsp;
              <button type="button" class="btn btn-danger" (click)="deleteInventory(item.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  