<main class="container-fluid" style="margin-top: 50px;">
    <div class="bg-body-tertiary p-5 rounded">
    <h1>Asp.Net Core and Angular</h1>
    <p class="lead">This is for Angular and ASP.NET Core contact between the frontend and backend, using an API from ASP.NET with SQL Server.        .</p>
    <a class="btn btn-lg btn-primary" href="/" role="button">View all items &raquo;</a>
    </div>
</main>
<footer class="footer mt-auto py-3 bg-info">
    <div class="container">
    <span class="text-body-secondary">All Operating.</span>
    </div>
</footer>